<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
        <h1>Hello {{request.session.fname}}! Lets edit your wish!</h1>
    </header>
    <div class="Container">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <form action="/wishes/update/{{wish.id}}" method="POST">
            {% csrf_token %}
            <p>i wish for:  <input type="text" name="theWish" value="{{this_wish.theWish}}"></p>
            <p>Description  <input type="text" name="desc" value="{{this_wish.desc}}"></p>
            <button type="submit">Edit</button>
            <a href="/wishes">Cancel</a>
        </form>
        </div>
    </div>
</body>
</html>