<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div>
            <h1>{{author.fname}} {{author.lname}}</h1>
            <h3>ID: {{author.id}}</h3>
            <p>Notes: {{author.notes}}</p>
        </div>

        <div>
            <form action="/addAuthor" method="POST">
                {%csrf_token%}
                <select name="book_id" id="">
                    <option value="" selected>Select Book</option>
                    {%for book in books%}
                    <option value="{{author.id}}">
                        {{book.title}}
                    </option>
                    {%endfor%}
                </select>
                <input type="hidden" name="author_id" value="{{author.id}}">
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</body>

</html>